
.LoginPageLogo {
    height: 100%;
}

.LoginPage {
    height: 100vh;
    background-image: url(/img/sunrise.jpg);
    background-size: 110% 110%;
    background-position: center center;
    animation: background-shrink 8s ease-in-out infinite alternate;
}

.LoginPage .grommetux-headline {
    color: #ffffff;
}

.LoginPage .grommetux-footer {
    color: #aaaaaa;
}

.LoginPage .grommetux-button {
    color: #cccccc;
    border-color: #cccccc;
}

.LoginPage .grommetux-button:hover .grommetux-control-icon {
    color: #ffffff;
    fill: #ffffff;
    stroke: #ffffff;
}

.LoginPage .grommetux-control-icon {
    color: #cccccc;
    fill: #cccccc;
    stroke: #cccccc;
}

@keyframes background-shrink {
    0% {
        background-size: 108% 108%;
    }
    100% {
        background-size: 100% 100%;
    }
}
