
.LoginPageLogo {
}

.slick-header .grommetux-select .grommetux-button__icon svg {
    background-color: inherit;
}

.slick-logo-xlarge.grommetux-title {
   font-family: 'Audiowide', cursive;
   font-size: 140px;
   letter-spacing: 30px;
   color: $colored-text-color;
}

.slick-logo-xlarge.grommetux-title span {
  margin-right: 0px;
}

.slick-logo-medium.grommetux-title {
   font-family: 'Audiowide', cursive;
   font-size: 40px;
   letter-spacing: 5px;
   color: $colored-text-color;
}

.slick-logo-medium.grommetux-title span {
  margin-right: 0px;
}


@media screen and (min-width:1024px) {
  .LoginPage {
    background-image: url(/img/sunrise.jpg);
    background-size: 100% 108%;
    background-position: center center;
    animation: background-shrink 8s ease-in-out infinite alternate;
  }
  @keyframes background-shrink {
    0% {
        background-size: 100% 108%;
    }
    100% {
        background-size: 100% 100%;
    }
  }
}

@media screen and (max-width:1023px) {
  .LoginPage {
    background-image: url(/img/sunrise.jpg);
    background-size: 180% 104%;
    background-position: bottom center;
    animation: background-shrink 3s ease-in-out infinite alternate;
  }
  @keyframes background-shrink {
    0% {
        background-size: 180% 104%;
    }
    100% {
        background-size: 180% 100%;
    }
  }
}

.LoginPage .grommetux-headline {
    color: #ffffff;
}

.LoginPage .grommetux-footer {
    color: #aaaaaa;
}

.LoginPage .grommetux-button {
    color: $colored-text-color;
    border-color: $colored-text-color;
}

.LoginPage .grommetux-button:hover .grommetux-control-icon {
    color: #ffffff;
    fill: #ffffff;
    stroke: #ffffff;
}

.LoginPage .grommetux-control-icon {
    color: #cccccc;
    fill: #cccccc;
    stroke: #cccccc;
}



