
.slick-header .grommetux-select .grommetux-button__icon svg {
    background-color: inherit;
}

.slick-logo-xlarge.grommetux-title {
   font-family: 'Audiowide', cursive;
   font-size: 140px;
   letter-spacing: 30px;
   color: $colored-text-color;
}

.slick-logo-xlarge.grommetux-title span {
  margin-right: 0px;
}

.slick-logo-medium.grommetux-title {
   font-family: 'Audiowide', cursive;
   font-size: 40px;
   letter-spacing: 5px;
   color: $colored-text-color;
}

.slick-logo-medium.grommetux-title span {
  margin-right: 0px;
}


#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: fill;
}

.LoginPageLogo {
    position: fixed;
    top: 40%;
    padding: 20px;
    background-color: rgba(0, 0, 0, .6);
    left: 0;
    right: 0;
}

.LoginPage {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.LoginPage .grommetux-headline {
    color: #ffffff;
}

.LoginPage .grommetux-footer {
    color: #aaaaaa;
    position: fixed;
    bottom: 0;
}

.LoginPage .grommetux-button {
    color: $colored-text-color;
    border-color: $colored-text-color;
}

.LoginPage .grommetux-button:hover .grommetux-control-icon {
    color: #ffffff;
    fill: #ffffff;
    stroke: #ffffff;
}

.LoginPage .grommetux-control-icon {
    color: #cccccc;
    fill: #cccccc;
    stroke: #cccccc;
}


.theme-demo {
  background-image: url("/img/sunrise.jpg");
}


