.slick-logo-xlarge.grommetux-title {
  font-family: 'Audiowide', cursive;
  font-size: 140px;
  letter-spacing: 30px;
  color: $colored-text-color;
}

.slick-logo-xlarge.grommetux-title span {
  margin-right: 0px;
}

.slick-logo-medium.grommetux-title {
  font-family: 'Audiowide', cursive;
  font-size: 40px;
  letter-spacing: 5px;
  color: $colored-text-color;
}

.slick-logo-medium.grommetux-title span {
  margin-right: 0px;
}

